body {
  padding: 8px;
  user-select: none;
  background: black;
}

/* Register - fadeInUp */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-register {
  animation: fadeInUp 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

/* Login - fadeInDown */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-login {
  animation: fadeInDown 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.97);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-calendar {
  animation: fadeInScale 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

/* Fond du calendrier */
.fc {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 1rem;
}

/* Cases des jours */
.fc-daygrid-day {
  background: rgba(255, 255, 255, 0.05) !important;
}

/* En-têtes des jours (Lun, Mar...) */
.fc-col-header-cell {
  background: rgba(255, 255, 255, 0.15) !important;
  color: white !important;
}

/* Numéros des jours */
.fc-daygrid-day-number {
  color: white !important;
}

/* Titre du mois */
.fc-toolbar-title {
  color: white !important;
}

/* Boutons prev/next */
.fc-button {
  background: #6c63ff !important;
  border: none !important;
}

.fc-day-today {
  background: rgba(255, 220, 0, 0.2) !important;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-sidebar {
  animation: slideIn 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.animate-sidebar-out {
  animation: slideOut 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.p-dropdown-panel {
  background: #6c63ff !important;
  backdrop-filter: blur(10px) !important;
  color: white;
  width: 280px !important;

}

.p-dropdown-item {
  color: white !important;
  background: #6c63ff !important;
  padding: 0.75rem 1rem !important;

}

.p-dropdown-item:hover {
  background: rgba(108, 99, 255, 0.5) !important;
  color: white;


}

.fc-event input {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}